.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.movie-card {
  display: flex;
  width: 250px;
  flex-direction: column;
  border: 1px solid lightgray;
  margin: 15px;
}
.movie-card img {
  width: 100%;
}

.movie-card-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1px;
  display: inline;
}
.movie-card-pill {
  background-color: rgba(255, 0, 0, 0.4);
  border: 1px solid red;
  display: inline-block;
  padding: 1px 10px;
  margin-top: 0.5em;
  border-radius: 5px;
}
