.movie-details-close {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: gray;
  margin: 15px;
}

.movie-details {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: white;
  border: 1px solid lightgray;
  margin: 15px;
}

.movie-details-img {
  width: 50%;
}

.movie-details img {
  width: 100%;
}

.movie-details-info {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1px;
  display: inline;
  padding: 5px;
  width: 50%;
}

.movie-details-inforow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1px;
  /* display: inline; */
}

.movie-details-title {
  /* background-color: rgba(255, 0, 0, 0.4); */
  /* border: 1px solid red; */
  display: inline-block;
  padding: 1px 10px;
  margin-top: 0.5em;
  border-radius: 5px;
  font-size: larger;
}

.movie-details-rating {
  background-color: rgba(139, 139, 139, 0.4);
  border: 1px solid black;
  display: inline-block;
  padding: 1px 10px;
  margin-top: 0.5em;
  border-radius: 5px;
  font-size: large;
}

.movie-details-rated {
  /* background-color: rgba(139, 139, 139, 0.4); */
  /* border: 1px solid black; */
  color: blue;
  display: inline-block;
  padding: 1px 10px;
  margin-top: 0.5em;
  border-radius: 5px;
  font-size: larger;
}

.movie-details-runtime {
  background-color: rgba(139, 139, 139, 0.4);
  border: 1px solid black;
  display: inline-block;
  padding: 1px 10px;
  margin-top: 0.5em;
  border-radius: 5px;
  font-size: medium;
}

.movie-details-genre {
  background-color: rgba(139, 139, 139, 0.4);
  border: 1px solid black;
  display: inline-block;
  padding: 1px 10px;
  margin-top: 0.5em;
  border-radius: 5px;
  font-size: medium;
}

.movie-details-plot {
  font-size: small;
}
.movie-details-textlrg {
  padding-top: 1em;
  font-size: medium;
}

.movie-details-actors {
  font-size: small;
}
